pkgbase = sdboot-kernel
	pkgdesc = systemd-boot automation using kernel-install
	pkgver = 0.5
	pkgrel = 1
	url = https://github.com/cody-greene/sdboot-kernel
	arch = any
	license = GPL2
	depends = systemd
	depends = findutils
	depends = grep
	depends = mkinitcpio
	conflicts = systemd-boot-manager

pkgname = sdboot-kernel
